.App {
  text-align: center;
}

.menu{
  text-decoration: none;
  color:#212529;
}

.link-underline-primary {
  text-decoration: none;
  color: #212529;
}

.menu:hover {
  color:#c0392b !important;
  text-decoration:none !important;
}

.footer {
  background-color: #212529;
  color:#fff;
  position: fixed;
  height: 90px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}

body {
  margin-bottom:50px;
}


